APP_NAME="RelojChecador IA API"
ENVIRONMENT=development
DEBUG=true
API_PREFIX=/api
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

SQL_SERVER=localhost
SQL_DATABASE=RelojChecadorIA
SQL_USERNAME=sa
SQL_PASSWORD=TuPassword
SQL_DRIVER=ODBC Driver 18 for SQL Server
SQL_TRUST_SERVER_CERTIFICATE=yes
SQL_ENCRYPT=no

SECRET_KEY=cambia-esta-clave-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

MODEL_PATH=app/ml/trained_model.keras
LABELS_PATH=app/ml/labels.json
MODEL_INPUT_WIDTH=128
MODEL_INPUT_HEIGHT=128
MODEL_INPUT_CHANNELS=3
MODEL_NORMALIZE_INPUT=false
FRONTEND_SENDS_FACE_CROP=true
DEFAULT_INTRUDER_THRESHOLD=0.70
INTRUDER_LABEL_NAME=Intruso
ATTENDANCE_REQUIRED_CONSECUTIVE_VALIDATIONS=3

AUTO_CREATE_TABLES=false

SMTP_ENABLED=false
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_USE_TLS=true

# Entrenamiento desde frontend
TRAINING_DATASET_DIR=app/ml/training_dataset
TRAINING_OUTPUT_DIR=app/ml/training_output
TRAINING_CAPTURE_TOTAL_IMAGES=400
TRAINING_TRAIN_IMAGE_COUNT=300
TRAINING_VALIDATION_IMAGE_COUNT=100
TRAINING_EPOCHS=40
TRAINING_BATCH_SIZE=16
TRAINING_SEED=47
TRAINING_EARLY_STOPPING_PATIENCE=8
